@font-face {
  font-family: Digital-7;
  src: url(assets/fonts/digital-7.ttf);
}

.sidebar {
  width: 80px;
  -webkit-app-region: drag;
}
.sidebar button {
  -webkit-app-region: no-drag;
  color: #05EB8B;
}

.main {
  width: 300px;
  margin-left: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.main > .card {
  background: transparent;
  border: none;
}

.main > .card .card-header,
.main > .card .card-body,
.main > .card .card-footer {
  border: none;
}

.clock-body {
  color: #05EB8B;
  font-family: Digital-7;
  font-size: 4rem;
}

@media (prefers-color-scheme: dark) {
  body { background: #2F384B; color: white; }
}

@media (prefers-color-scheme: light) {
  body { background: #ddd; color: black; }
}